Package: com.bd452.upscale
Name: Upscale
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: bd452
Author: bd452
Section: Tweaks
